div.controls
  p#menu Blend Modes
  p#heading Mix-Blend-Mode-ifier
  a(href="https://github.com/evanmags" target="_blank")#links GitHub
div.parallax
  div.column.red
    p #F44336
  div.column.blue
    p #1E88E5
  div.column.yellow
    p #FDD835
  div.column.red
    p #F44336
  div.column.blue
    p #1E88E5
  div.column.yellow
    p #FDD835
  div.column.red
    p #F44336
  div.column.blue
    p #1E88E5
  div.column.yellow
    p #FDD835
  div.column.red
    p #F44336
  div.column.blue
    p #1E88E5
  div.column.yellow
    p #FDD835
div.modes.hide
  p.active normal
  p multiply
  p screen
  p overlay
  p darken
  p lighten
  p color-dodge
  p color-burn
  p hard-light
  p soft-light
  p difference
  p exclusion
  p hue
  p saturation
  p color
  p luminosity
  p#filter remove filter
  div.slider
    label(for='opacity') filter opacity:
    input(id='opacity' name='opacity' type="range" max="1" min="0" step=".01")