body{
    background: #bdcaff;
}

.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}

.wordDisplay{
    max-width: 90vw;
    display: flex;
}

.wordDisplay div{
    display: inline-block;
    min-width: 50px;
    max-width: 200px;
    margin: auto;
    border-bottom: 2px solid #777;
    border-radius: 4px;
}

.wordDisplay div h1{
    margin: 0;
    padding: 0;
    text-align: center;
    transition: opacity .4s;
}